<div class="browse">
  <div class="container">
    <ul>
    	<li><strong>Tweeter<strong></li>
    	<li><a href="http:/microposts">Home</a></li>
        <li><a href="http:/microposts/new">Post</a></li>
        <li><a href="http:/users">Friends</a></li>
    </ul>
  </div>
</div>